@import "variables";
body {
  background: $bodyBg;
}
// leftside bar
#root {
  height: 100%;
}
.left-side-bar {
  border-right: 1px solid $sidebar-border-color;
  height: calc(100vh - 56px);
  overflow-y: auto;
  @media(max-width:767px){
    height: auto;
  }
}

// Carousel configuration parameters

.left-tab {
  background: ghostwhite;
  height: 100%;
  position: relative;
}
.sidebar {
  @media (min-width: 768px) {
    max-width: 0;
    transition: all 0.4s ease-in-out;
    overflow: hidden;
  }
  &.open {
    @media (min-width: 768px) {
      max-width: 33.333333%;
    }
  }
}
.sidebar-toggle {
  top: 28%;
  position: absolute;
  left:0;
  transform: translateY(-50%);
  background: $primary;
  width: 40px;
  height: 40px;
  align-items: center;
  justify-content: center;
  color: #fff;
  z-index: 2;
  display: none;
  @media (max-width: 1024px) {
    display: flex;
  }
}

.tab-content {
  background-image: url(../../images/bg-img.jpg);
  height: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  height: calc(100vh - 56px);
  width: 100%;
  & > .active {
    width: 100%;
  }
  @media(max-width:767px){
    height: auto;
  }
}

.contant-title {
  padding: 20px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  left: 50%;
  transform: translateX(-50%);
  display: inline-block;
  position: relative;
  border: 6px solid;
  border-image: linear-gradient(45deg, rgb(9, 168, 231), #416ca5) 10;
  font-size: 40px;
  color: orange;
  margin-top: 50px;
  margin-bottom: 50px;
  text-transform: uppercase;
  background: rgba(0, 0, 0, 0.35);
  text-shadow: 1px 1px 2px orange, 0 0 1em orange, 0 0 0.2em orange;
}

.slider-item {
  p {
    color: #fff;
    font-size: 22px;
    transform: rotateY(176deg);
  }
  h2 {
    color: #fff;
    text-transform: uppercase;
    font-size: 50px;
    transform: rotateY(176deg);
  }
}

.nav-pills {
  .nav-link.active,
  .show > .nav-link {
    background: $primary;
  }
  .nav-link {
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 0;
    border-bottom: 1px $sidebar-border-color solid;
    text-transform: uppercase;
    color:#000;
  }
}

.carousel-wrapper {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  height: 500px;
  text-align: center;
  max-width: 1280px;
  width: 100%;
}
.carousel {
  left: 50%;
  position: absolute;
  transform: translateX(-50%);
  overflow: hidden;
  height: 500px;
  width: 100%;
  padding:0;
}

.carousel .item {
  width: 491px;
  height: 250px;
  background-size: 100%;
  vertical-align: middle;
  color: #fff;
  text-align: center;
  padding: 45px;
  background: rgba(0, 0, 0, 0.35);
  @media(max-width:1280px){
    width: 431px;
  }
  @media(max-width:767px){
   display: none !important;
  }
  h2 {
    font-size: 40px;
    text-transform: uppercase;
    text-shadow: 3px 3px 28px white;
    font-weight: bold;
    @media(max-width:767px){
       font-size: 30px;
    }
    &:after{
      content: '';
      display: inline-block;
      width: 0;
      height: 0;
      border-top: 10px solid transparent;
      border-right: 10px solid transparent;
      border-left: 10px solid #fff;
      border-bottom: 10px solid transparent;
      vertical-align: 3px;
      margin-left: 5px;
    }
  }
  p {
    font-size: 18px;
  }
}

.controls {
  text-align: center;
  max-width: 200px;
  margin-left: auto;
  margin-right: auto;
}

.controls a {
  display: block;
}

.controls .previous {
  float: left;
}

.controls .next {
  float: right;
}

.carousel .item {
  display: block;
  position: absolute;
  -webkit-transform: scale(0.5);
  -moz-transform: scale(0.5);
  -o-transform: scale(0.5);
  transform: scale(0.5);
}

.carousel .item.active {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
  @media(max-width:767px){
    display: block !important;
    left:0;
    right:0;
    width: 96% !important;
    margin: 0 auto !important;
   }
}

.carousel .item.transition {
  -webkit-transition: all 0.35s ease;
  -moz-transition: all 0.35s ease;
  -o-transition: all 0.35s ease;
  transition: all 0.35s ease;
}
